@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-image: url("https://i.pinimg.com/originals/54/ba/1a/54ba1aebeb5c5c92105f430009db074c.jpg");
  overflow-x: hidden;
  font-family: arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a:active {
  color: #001247;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.login {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 33rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  padding: 2rem;
  background: radial-gradient(circle at center, #000000, #1c1c1c);
}
.login .login-title {
  text-align: center;
  font-size: 5rem;
  color: white;
  border-bottom: 1px solid white;
}
.login .login-info {
  width: 24rem;
  margin-left: auto;
  margin-right: auto;
}
.login .email {
  margin-top: 1rem;
  text-align: center;
}
.login .login-email {
  color: white;
  font-size: 1.7rem;
}
.login .login-email-input {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 0.75rem;
  height: 1.5rem;
  width: 20rem;
}
.login .password {
  margin-top: 1rem;
  font-size: 1.7rem;
  text-align: center;
}
.login .login-password {
  color: white;
}
.login .login-password-input {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 0.75rem;
  height: 1.5rem;
  width: 20rem;
}
.login .button {
  margin-top: 1rem;
  width: 12rem;
  height: 2rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 1.2rem;
}
.login .btn-register {
  text-align: center;
  color: black;
  text-decoration: none;
}
.login .button-log-reg {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

#contact {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
  margin-bottom: 3rem;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  width: 25rem;
  max-width: 400px;
  background-color: #000;
  color: #fff;
  border: 1px solid #001247;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  padding: 5px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
.form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
@media screen and (max-width: 569px) {
  .direct-contact-container,
.form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
textarea {
    margin: 0 auto;
  }

  .name,
.email,
textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.about-background {
  height: 65rem;
  width: 100%;
}
.about-background .about-content {
  position: relative;
  top: 7rem;
}
.about-background .title-about {
  text-align: center;
  font-size: 4rem;
  color: white;
}
.about-background .description-about {
  text-align: center;
  color: white;
}
.about-background .line {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #001247;
}
.about-background .about-mission {
  position: relative;
  top: 10rem;
  width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.about-background .about-mission .mission {
  width: 50%;
}
.about-background .about-mission .mission .title-mission {
  text-align: center;
  color: white;
}
.about-background .about-mission .mission .description-mission {
  text-align: center;
  color: white;
}
.about-background .about-mission .img-about {
  width: 25rem;
  height: 18rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-background .about-goals {
  position: relative;
  top: 12rem;
  width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.about-background .about-goals .goal {
  width: 50%;
}
.about-background .about-goals .goal .title-goal {
  text-align: center;
  color: white;
}
.about-background .about-goals .goal .description-goal {
  text-align: center;
  color: white;
}
.about-background .about-goals .img-goal {
  width: 25rem;
  height: 18rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-background .vid-holder {
  max-height: 20rem;
  display: flex;
  justify-content: center;
  position: relative;
  top: 8rem;
}
.about-background .vid-holder .video {
  height: 20rem;
  width: 30rem;
  box-shadow: #26394d 0px 20px 30px -10px;
}

.home-container {
  background-size: cover;
  width: 100%;
  height: 90%;
}
.home-container .home-flex {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.home-container .home-flex .left-home {
  width: 50%;
}
.home-container .home-flex .left-home .img-responsive-home {
  height: 30rem;
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.home-container .home-flex .right-home {
  width: 50%;
}
.home-container .home-flex .right-home .home-title {
  font-size: 2.5rem;
  color: white;
  text-align: center;
}
.home-container .home-flex .right-home .home-line {
  border-top: 1px solid #001247;
}
.home-container .home-flex .right-home .home-img-flex {
  padding: 20px;
  display: Flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home-container .home-flex .right-home .home-img-flex .img-home {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.home-container .home-flex .right-home .home-info {
  margin-top: 2rem;
  text-align: left;
  color: white;
}

.footer {
  width: 100%;
  height: 12rem;
  background-color: transparent;
  border-top: 1px solid white;
}

.footerHolder {
  margin-left: 0rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.FootCon {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.FootCon1 {
  color: white;
  font-size: 1rem;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}

.FootSoc {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.FootSocial1 {
  font-size: 1rem;
  color: white;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}

.FootLinks {
  font-size: 1rem;
  text-align: center;
  color: white;
}

.FootNav1 {
  font-size: 1rem;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
  color: white;
}

.footerIMG {
  width: 80%;
  height: 20rem;
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.FootLinks:hover {
  font-size: 1.3rem;
}

.FootSoc:hover {
  font-size: 1.3rem;
}

.FootCon:hover {
  font-size: 1.2rem;
}

.FootLinks:active {
  color: yellow;
}

.FootSoc:active {
  color: yellow;
}

.FootCon:active {
  color: yellow;
}

.Register {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 33rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  padding: 2rem;
  background: radial-gradient(circle at center, #000000, #1c1c1c);
}
.Register .Register-title {
  text-align: center;
  color: white;
  font-size: 2.3rem;
}
.Register .RegisterForm {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.Register .Register-info {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.Register .Register-info .Register-tag {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  width: 10rem;
}
.Register .Register-info .Register-text {
  border-radius: 0.75rem;
  width: 15rem;
}
.Register .Register-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 25px;
  width: 100px;
  border-radius: 0.75rem;
  margin-top: 1.4rem;
}

html,
body {
  font-family: helvetica, arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner-container {
  align-items: center;
  background: #e0e0e0;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .banner-container {
    flex-direction: column;
  }
  .banner-container .banner {
    width: 100%;
    height: 100%;
  }
}
.banner-container:hover .banner {
  opacity: 0.5;
}
.banner-container:hover .banner:hover {
  box-shadow: 0px 0px 10px 6px black;
  flex: 4 1;
  font-size: 20pt;
  opacity: 1;
}
.banner-container:hover .banner:hover .banner-name {
  flex: 0 0 60px;
}
.banner-container .banner {
  background: none 50%;
  background-size: cover;
  box-shadow: 0 0 0 0 black;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  font-size: 10pt;
  height: 100%;
  justify-content: flex-end;
  transition: 0.3s;
}
.banner-container .banner .banner-name {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex: 1 1;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
}
.banner-container #Batman-banner {
  background-image: url(https://wallpaperaccess.com/full/220704.png);
}
.banner-container #Super-banner {
  background-image: url(https://wallpapercave.com/wp/wp6899583.jpg);
}
.banner-container #Wonder-banner {
  background-image: url(https://wallpapercave.com/wp/qh4vNT0.jpg);
}
.banner-container #Flash-banner {
  background-image: url(https://free4kwallpapers.com/uploads/originals/2020/07/29/black-ocean-wallpaper.jpg);
}

.banner-about {
  height: 40rem;
  width: 100%;
}
.banner-about .banner-img {
  width: 100%;
  height: 25rem;
  box-shadow: #26394d 0px 20px 30px -10px;
}

.nav {
  width: 100%;
  height: 6rem;
  background-color: transparent;
  display: flex;
  border-bottom: #001247 2px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.listItem {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  top: 0.5rem;
  font-family: "Oswald", sans-serif;
}

.listItem:hover {
  color: red;
}

.listItem:active {
  color: #400000;
}

.list {
  position: absolute;
  right: 0;
  top: 1.5rem;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.navHead {
  color: white;
  position: relative;
  left: 2rem;
  top: 1rem;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}

.navLink {
  color: white;
  text-decoration: none;
}

#slideshow {
  margin: 0 auto;
  height: 630px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 3rem;
}

.slideshow-title {
  font-family: "Allerta Stencil";
  font-size: 62px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
}

.sub-heading-two {
  font-size: 15px;
}

.sub-heading-three {
  font-size: 13px;
}

.sub-heading-four {
  font-size: 11px;
}

.sub-heading-five {
  font-size: 9px;
}

.sub-heading-six {
  font-size: 7px;
}

.sub-heading-seven {
  font-size: 5px;
}

.sub-heading-eight {
  font-size: 3px;
}

.sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  -webkit-animation: rotar 30s infinite linear;
          animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel figure {
  width: 100%;
  height: 40vh;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 10px 0px #030063;
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 20rem;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 400ms;
}

@-webkit-keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.page-header {
  text-align: center;
  color: white;
  font-size: 5rem;
}/*# sourceMappingURL=index.css.map */