<head>
    <link rel="stylesheet" href="./Styles/index.css">
</head>
<div>
    <%- include('./Component/navbar.ejs'); %>
    <div class="home-container">
        <div class="home-flex">
            <div class="home-head">
                <h1 class="title-home">Company Name</h1>
                <p class="home-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt laboriosam impedit porro, debitis mollitia distinctio similique deleniti qui quas doloribus, corporis excepturi. Rem porro magni quae sed suscipit. Dignissimos nesciunt molestias quaerat cum illum voluptatibus autem fugiat esse quae commodi, ea, delectus dolore ipsum fuga sapiente itaque aperiam ducimus, explicabo exercitationem laborum quam adipisci. Provident obcaecati molestiae saepe, illo blanditiis consequuntur aspernatur, esse sequi quas nam dignissimos, officiis quae voluptatem molestias eaque cumque cupiditate? Placeat ducimus a dignissimos beatae nisi.</p>
            </div>
            <div class="home-video">
                <iframe class="video" src="https://www.youtube.com/embed/gpJlX9ktGD4" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
        </div>
        <div class="home-flex">
            <div class="home-video">
                <img class="logo" src="https://www.logodesign.net/logo-new/abstract-cuboid-building-4519ld.png" alt="">
            </div>
            <div class="home-head2">
                <h3 class="title-home2">Company Information</h3>
                <p class="home-info2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati veniam ut quas repellat delectus minima! Fuga deserunt sunt provident quia laboriosam. Iusto tempora amet libero aliquam quas veritatis repudiandae hic, quo exercitationem soluta eos vel non earum saepe praesentium voluptas culpa ab minus tenetur molestiae corporis velit expedita nihil. Suscipit similique delectus iure voluptatibus obcaecati! Aliquam illo corporis explicabo nesciunt.</p>
            </div>
        </div>
    </div>
    <%- include('./Component/footer.ejs'); %>
</div>