<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Styles/index.css"
    type="text/css">
</head>
    <div style="height: 100%">
        <%- include('./Component/header.ejs'); %>
    </div>
</html>
