<head>
    <link rel="stylesheet" href="./Styles/index.css">
</head>
<div class="login">
    <h1 class="login-title">Login</h1>
    <% if(messages.error) { %>
        <%messages.error%>
        <% } %>
    <form action="/login" method="POST">
    <div class="login-info">
        <div class="email">
            <label class="login-email" for="email">Email</label>
            <br>
            <input class="login-email-input" type="email" id="email" name="email" placeholder="" required/>
        </div>
        <div class="password">
            <label class="login-password" for="password">Password</label>
            <br>
            <input class="login-password-input" type="password" id="password" name="password" placeholder="" required/>
        </div>
                <button class="button" style="margin-left: auto;
                margin-right: auto;display: block;margin-top:2rem;" type="submit">Login</button>
    </div>
    <div class="button-log-reg">
        <button class="button"><a class="btn-register" href="/register">Register</a></button>
        <button class="button"><a class="btn-register" href="/">Home</a></button>
    </div>
    </form>
    
</div>