<head>
    <link rel="stylesheet" href="../Styles/index.css">
</head>
<div>
    <div class="banner-about">
        <img class="banner-img" src="https://img.lovepik.com/photo/40011/1113.jpg_wh300.jpg" alt="">
    </div>
</div>