<head>
    <link rel="stylesheet" href="../Styles/index.css">
</head>
<div class='footer'>
    <div class="footerHolder">
        <div>
            <ul class="contact">
                <li class='FootCon1'>
                    <h1>Contact </h1>
                </li>
                <li class='FootCon'>
                    <p class="FooterLinksActive">623-806-9966</p>
                </li>
                <li class='FootCon'>
                    <p class="FooterLinksActive">amakris03@gmail.com</p>
                </li>
                <li class='FootCon'><a href="https://github.com/Amakris12">
                        <p class="FooterLinksActive">Github</p>
                    </a></li>
                <li class='FootCon'><a href="https://app.netlify.com/teams/amakris03/sites">
                        <p class="FooterLinksActive">Netlify</p>
                    </a></li>
            </ul>
        </div>
        <div>
            <ul class="Socials">
                <li class='FootSocial1'>
                    <h1>Social Medias</h1>
                </li>
                <li class='FootSoc'><a href="">
                        <p class="FooterLinksActive">
                            Instagram
                        </p>
                    </a></li>
                <li class='FootSoc'><a href="">
                        <p class="FooterLinksActive">
                            Twitter
                        </p>
                    </a></li>
                <li class='FootSoc'><a href="">
                        <p class="FooterLinksActive">
                             TikTok
                        </p>
                    </a></li>
                <li class='FootSoc'><a href="">
                        <p class="FooterLinksActive">
                             SnapChat
                        </p>
                    </a></li>
            </ul>
        </div>
        <div>
            <ul class="Links">
                <li class='FootNav1'>
                    <h1>Navigation</h1>
                </li>
                <li class='FootLinks'>
                    <p class="FooterLinksActive"><a href="/home">Home</a></p>
                </li>
                <li class='FootLinks'>
                    <p class="FooterLinksActive"><a href="/about">About</a></p>
                </li>
                <li class='FootLinks'>
                    <p class="FooterLinksActive"><a href="/contact">Contact</a></p>
                </li>
                <li class='FootLinks'>
                    <p class="FooterLinksActive"><a href="/Login">Login</a></p>
                </li>
                <li class='FootLinks'>
                    <p class="FooterLinksActive"><a href="/Register">Register</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>