<head>
    <link rel="stylesheet" href="../Styles/index.css">
</head>
<div class='nav'>
    <h3 class="navHead">Welcome to Company page</h3>
    <ul >
        <li class='list'>
            <p class='listItem'><a class='navLink' href="/home">Home</a></p>
            <p class='listItem'><a class='navLink' href="/about">About</a></p>
            <p class='listItem'><a class='navLink' href="/contact">Contact</a></p>
        </li>
    </ul>
</div>