<section id="slideshow">
    <h1 class="page-header">Company Name</h1>
    <div class="entire-content">
        <div class="content-carrousel">
            <figure id="music" class="shadow"><img class="IMAGE_MOVIE"
                    src="https://crownline.com/wp-content/uploads/2018/03/Overnight-Boating.jpg" /></figure>
            <figure class="shadow"><img class="IMAGE_MOVIE"
                    src="https://crownline.com/wp-content/uploads/2018/03/Overnight-Boating.jpg" /></figure>
            <figure id="achivements" class="shadow"><img class="IMAGE_MOVIE"
                    src="https://crownline.com/wp-content/uploads/2018/03/Overnight-Boating.jpg" /></figure>
            <figure class="shadow"><img class="IMAGE_MOVIE"
                    src="https://crownline.com/wp-content/uploads/2018/03/Overnight-Boating.jpg" /></figure>
            <figure id="jobs" class="shadow"><img class="IMAGE_MOVIE"
                    src="https://crownline.com/wp-content/uploads/2018/03/Overnight-Boating.jpg" />
            </figure>
            <figure class="shadow"><img class="IMAGE_MOVIE"
                    src="https://crownline.com/wp-content/uploads/2018/03/Overnight-Boating.jpg" /></figure>
            <figure id="websites" class="shadow"><img class="IMAGE_MOVIE"
                    src="https://crownline.com/wp-content/uploads/2018/03/Overnight-Boating.jpg" />
            </figure>
            <figure id="TV" class="shadow"><img class="IMAGE_MOVIE"
                    src="https://crownline.com/wp-content/uploads/2018/03/Overnight-Boating.jpg" /></figure>
            <figure class="shadow"><img class="IMAGE_MOVIE"
                    src="https://crownline.com/wp-content/uploads/2018/03/Overnight-Boating.jpg" /></figure>
        </div>
    </div>
</section>