.footer {
  width: 100%;
  height: 12rem;
  background-color: transparent;
  border-top: 1px solid white;
}
.footerHolder {
  margin-left: 0rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.FootCon {
  color: white;
  font-size: 1rem;

  text-align: center;
}
.FootCon1 {
  color: white;
  font-size: 1rem;

  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}
.FootSoc {
  font-size: 1rem;
  color: white;
  text-align: center;
}
.FootSocial1 {
  font-size: 1rem;

  color: white;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}
.FootLinks {
  font-size: 1rem;

  text-align: center;
  color: white;
}
.FootNav1 {
  font-size: 1rem;

  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
  color: white;
}
.footerIMG {
  width: 80%;
  height: 20rem;
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.FootLinks:hover {
  font-size: 1.3rem;
}
.FootSoc:hover {
  font-size: 1.3rem;
}
.FootCon:hover {
  font-size: 1.2rem;
}
.FootLinks:active {
  color: yellow;
}
.FootSoc:active {
  color: yellow;
}
.FootCon:active {
  color: yellow;
}
